extends layout

block content
  div.create-account
    div
      a(href="/") < IvyLink
    div
      h1 Create your account.

    div.new-user-container
      div.new-user-form
        if password != passwordConfirm
          span Passwords don't match
        form(action="/create-account" method="POST")
          div.form-group
            input.new-user-input(type="text", name="firstName" placeholder="First Name")
            input.new-user-input(type="text", name="lastName" placeholder="Last Name")
          //- div.form-group
            input.new-user-input(type="text", name="location" placeholder="Location")
          div.form-group
            //- input.new-user-input(type="text", name="college" placeholder="College")
            input.new-user-input(type="text", name="major" placeholder="Major")
            input.new-user-input(type="number", name="graduation" placeholder="Graduation Year")
          div.form-group
            input.new-user--input(type="text", name="username" placeholder="Username")
          div.form-group
            input.new-user--input(type="password", name="password" placeholder="Password")
          div.form-group
            input.new-user--input(type="password", name="passwordConfirm" placeholder="Confirm Password")
          //- div.form-group.color-choice-container
            div.color-choice.gradient-0   
            div.color-choice.gradient-1 
            div.color-choice.gradient-2 
            div.color-choice.gradient-3 
            div.color-choice.gradient-4 
            div.color-choice.gradient-5 
            div.color-choice.gradient-6 
            div.color-choice.gradient-7 
          div.form-group
            input.btn.new-user--btn(type="submit" value="Create Account")