extends layout

block content
  if user
    block appBar
      div.app-bar              
        script.
          var toggleVisible = (el, className) => el.classList.toggle(className);
        div.app-bar--left
          div.logo-icon
            a(href="/") h
        div.app-bar--center
        div.app-bar--right 
          div.controls
            div.control-item.profile(onclick='toggleVisible(document.querySelector(`div.user-menu`), `hidden`)')
              span G
      block userMenu 
        div.user-menu.hidden
          ul
            li
              a(href="/") Login
    div.content
      block greeting
        div.greeting  
          h2 Welcome, Guest!   
          span While logged in as a guest, you can browse existing posts but you 
          | can't see existing users until you 
          a(href="/create-account") create your account. 
      block posts
        if post_list
          div.posts-container
            each post in post_list
              div.post
                div.post-content
                  p.post-message #{post.message}