extends layout

block content
  div.landing-page
    if user
      div.content
        block greeting
          div.greeting
            h2 Hello, #{user.firstName}!
        block post
          div.post-container
            div.post-form
              form(action="/post" method="POST")
                div.form-group
                  input.post-input(type="text", name="message" autocomplete="off" placeholder="What's on your mind, #{user.firstName}?")
                div.form-group
                  input.btn.post-btn(type="submit" value="Post")
        block posts
          if post_list
            div.posts-container
              each post in post_list
                div.post
                  h1 #{post.message}
                  p #{post.timestamp}
    else
      block logo 
        div.logo-container
          h1.logo HushBook
          h2.logo-subtext Connect anonymously, share secrets, and make new friends.
      block login
        div.login-container
          div.login-form
            form(action="/login" method="POST")
              input.login-input(type="text", name="username" placeholder="Username or email")
              br
              input.login-input(type="password", name="password" placeholder="Password")
              br
              input.btn.login-btn(type="submit" value="Log In")
              br 

          div.login-bottom
            a(href="/forgot-password") Forgot password?
            p or
            a(href="/guest") Sign in as guest

          div.login-divider 

          div.login_new-account
            div.btn.login_new-account-btn
              a(href="/create-account") Create new account 